<mat-nav-list>
  <h3 style="text-align: center;">{{resolveDirection(course)}}</h3>
  <mat-grid-list cols="3" rowHeight="3:1">
      <mat-grid-tile style="flex-direction:column-reverse">
          {{course.stops[0].timeString}}
        <p style="margin:2px;font-size: 12px;color: grey">Odjazd</p>
      </mat-grid-tile>
      <mat-grid-tile style="flex-direction:column">
          {{course.stops[course.stops.length-1].timeString}}
        <p style="margin:2px;font-size: 12px;color: grey">Przyjazd</p>
      </mat-grid-tile>
      <mat-grid-tile style="flex-direction:column;color:#e57373">
          {{calculateTravelTime(course)}}
        <p style="margin:2px;font-size: 12px;color: grey">Czas</p>
      </mat-grid-tile>
    </mat-grid-list>
  <br>
  <mat-grid-list cols="2" rowHeight="20:3">
          <mat-grid-tile style="background-color:#e57373">Przystanek</mat-grid-tile>
          <mat-grid-tile style="background-color:#e57373">Czas</mat-grid-tile>
          <div *ngFor="let stop of course.stops">
            <mat-grid-tile>{{stop.city}}</mat-grid-tile>
            <mat-grid-tile>{{stop.timeString}}</mat-grid-tile>
          </div>
  </mat-grid-list>
  <div style="height: 15px;">
  
      <mat-progress-bar color="primary" mode="determinate" value="{{progressW}}"></mat-progress-bar>

  </div>
  <div style="text-align: center;color: #e57373;">
      <button [disabled]="course.traficIsCalculate" (click)="calculateTraffic()" mat-button>Uwzględnij czas w korkach</button>
  </div>
  <hr>
  <div style="text-align: center;" class="legend" *ngFor="let legend of legends">
      <div>{{legend}} - {{symbolLegend[legend]}}</div>
  </div>
</mat-nav-list>
  
  