<div>
    <div style="height: 87px;width: 100%;font-size: 20px; margin-top: 10px; display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;">
        <img src="../../assets/limanowaHerb.png" class="herb">
        Kursy do Limanowej
    </div>
    <app-course [isStart]="false" [allCourses]="limCourses" direction="Lim"></app-course>
    <div style="height: 87px;width: 100%;font-size: 20px;  display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;">
        <img src="../../assets/krakowHerb.png" class="herb">
        Kursy do Krakowa
    </div>
    <app-course [isStart]="false" [allCourses]="krkCourses" direction="Krk"></app-course>

</div>