.herb{
    width: 70px;height: 85px;
    margin: 0 auto;
    opacity: 0.8;
}
div{
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
:host /deep/ .timepicker__header{
    background-color: #e57373!important;
}

:host /deep/ .timepicker-button{
    color: #e57373!important;
}
.subTolbar button{
 margin-left: 10px;
}
.subTolbar i{
    margin-right: 5px;
}
@font-face{
    font-family:'digital-clock-font';
    src: url('../../assets/digital-7.ttf');
   }
.clock {
    font-size: 60px;
    font-family:'digital-clock-font'!important;
    letter-spacing: 7px;
    color: #e57373!important;

}
