<div class="start">
<div style="height: 60px;width: 100%;font-size: 20px;  display: flex;
justify-content: center;
flex-direction: column;
text-align: center;">
Najbliższe kursy
<i class="material-icons">
    directions_bus
</i>
</div>
<app-course [isStart]="true" [allCourses]="startCourses"></app-course>
</div>
<div class="notification">
  <span style="margin-right:10px;font-size: 20px;float:right;color: #7b1fa2">{{appVersion}}</span>
  <span style="font-size: 20px;float:left;margin-left:10px">{{message.text}}</span>
</div>
