<mat-toolbar style="height:50px;top:40px;position: fixed;z-index: 2000" color="primary">
  <mat-form-field style="width: 120px;
        font-size: 14px;">
    <mat-select placeholder="Kierunek">
      <mat-option (click) = "getCoursesForDirection(dir.value)" *ngFor="let dir of directions" [value]="dir.value">
        {{dir.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<div style="margin-left:20px;"></div>
  <mat-form-field style="width: 120px;
        font-size: 14px;">
    <mat-select placeholder="Przez">
      <mat-option (click)="filterCourses(stop.value)" *ngFor="let stop of stopsView" [value]="stop.value">
        {{stop.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<div style="margin-top:95px;"></div>
<div *ngFor="let course of timetableView">
  <mat-card (click)="showDetails(course)" style="padding: 5px;margin:3px">
    <mat-grid-list cols="3" [rowHeight]="breakpoint" (window:resize)="onResize($event)">

      <mat-grid-tile style="flex-direction:column-reverse">
        {{course.direction}}
        <p style="margin:2px;font-size: 12px;color: grey">Kierunek</p>
      </mat-grid-tile>
      <mat-grid-tile style="flex-direction:column">
        {{course.stops[0].timeString}}
        <p style="margin:2px;font-size: 12px;color: grey">Odjazd</p>
      </mat-grid-tile>
      <mat-grid-tile style="flex-direction:column;color:#e57373">
        {{course.legends}}
        <p style="margin:2px;font-size: 12px;color: grey">Legenda</p>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
<!-- <div>
  <mat-tab-group (selectedTabChange)="onTabClick($event)" style="padding-bottom: 40px">
    <mat-tab label="Do Krakowa" style="margin-bottom: 10px;">
      <div (click)="showStops(course)" class="timetable-course" *ngFor="let course of limCourses;let isOdd=odd" [class.odd]="isOdd" style="margin-bottom: 10px">
        <mat-grid-list cols="3" rowHeight="20:3">
          <mat-grid-tile>{{course.direction}}</mat-grid-tile>
          <mat-grid-tile>{{course.firstStop.timeString}}</mat-grid-tile>
          <mat-grid-tile>{{course.legends}}</mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-tab>
    <mat-tab label="Do Limanowej">
        <div (click)="showStops(courseKrk)" class="timetable-course" *ngFor="let courseKrk of krkCourses;let isOddKrk=odd" [class.odd]="isOddKrk" style="margin-bottom: 10px">
            <mat-grid-list cols="3" rowHeight="20:3">
              <mat-grid-tile>{{courseKrk.direction}}</mat-grid-tile>
              <mat-grid-tile>{{courseKrk.firstStop.timeString}}</mat-grid-tile>
              <mat-grid-tile>{{courseKrk.legends}}</mat-grid-tile>
            </mat-grid-list>
          </div>
    </mat-tab>
  </mat-tab-group>
  <div [ngClass]="{'filter-bar-hidden' : hideFilterBar}" class="filter-bar">
    <div *ngIf="!hideFilterBar">
      <mat-grid-list cols="5" rowHeight="8:3">
        <mat-grid-tile>
          <mat-checkbox [(ngModel)]="zegocinaCourse" (change)="filterCourses()" color='primary'></mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-checkbox [(ngModel)]="szykCourse" (change)="filterCourses()" color='primary'></mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-checkbox [(ngModel)]="rybieCourse" (change)="filterCourses()" color='primary'></mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-checkbox [(ngModel)]="tymbarkCourse" (change)="filterCourses()" color='primary'></mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile (click)="filterBarClick()" style="margin-top: 7px!important">
          <i class="material-icons">
            arrow_forward
          </i>
        </mat-grid-tile>
        <mat-grid-tile>Żegocina</mat-grid-tile>
        <mat-grid-tile>Szyk</mat-grid-tile>
        <mat-grid-tile>Rybie</mat-grid-tile>
        <mat-grid-tile>Tymbark</mat-grid-tile>
      </mat-grid-list>
    </div>
    <div (click)="filterBarClick()" class="filter-options" *ngIf="hideFilterBar">
      <i class="material-icons">
        filter_list
      </i>
    </div>
  </div>
</div> -->