<div>
  <div *ngIf="!coursesExist()" style="width: 100%;text-align: center">
    <h3>Brak kursów</h3>
  </div>
  <div *ngIf="coursesExist()">
    <div *ngFor="let course of nearCourses">
      <mat-card style="padding: 5px;margin:3px">
        <mat-grid-list cols="3" rowHeight="3:1">

          <mat-grid-tile style="flex-direction:column">
            {{directionResolve(course.direction)}}
            <p style="margin:2px;font-size: 12px;color: grey">Przez</p>
          </mat-grid-tile>
          <!-- <mat-grid-tile style="flex-direction:column-reverse">
            Kraków
            <p style="margin:2px;font-size: 12px;color: grey">Z</p>
          </mat-grid-tile> -->
          <mat-grid-tile style="flex-direction:column">
            {{course.courseFirstStop.timeString}}
            <p style="margin:2px;font-size: 12px;color: grey">Odjazd</p>
          </mat-grid-tile>
          <mat-grid-tile style="flex-direction:column;color:#e57373">
            {{calculateTime(course.courseFirstStop)}}
            <p style="margin:2px;font-size: 12px;color: grey">Za</p>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </div>
  </div>
  </div>