.mat-expansion-indicator::after{
    display: none!important;
}
.mat-expansion-panel{
    padding-left: 4px!important;
    padding-right: 4px!important;
}
.mat-expansion-panel-header{
    padding-left: 2px!important;
    padding-right: 2px!important;
}
.mat-expansion-panel-header span {
    display: none!important;    
}

:host /deep/ .mat-expansion-panel-header-description{
    flex-grow: 1!important;
}

.mat-grid-tile{
}

.gridHeader{
    background-color:#5255e0;
}
:host /deep/ .mat-expansion-panel-body{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.colored-time{
    color: #5255e0!important;
    font-weight: bold;
}
.telesforColor{
    background-color: #984444!important;
}
@keyframes MyAnimation {
    0% {

      opacity: 0;
    }
    100% {
        opacity: 1;
    } 
  }
  .my-animation {
    animation: MyAnimation 1s;
  }

  .rotate-animation{
    transition-duration: 1s;
    transform: rotate(180deg);
  }

  .rotate-back-animation{
    transition-duration: 1s;
    transform: rotate(0deg);
  }

  .first-stop{
      border-bottom: solid 2px #5255e0;
  }

  .more-less-text{
      color: #e57373;
      width: 100%;
      text-align: center;
      font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  .more-less-text span{
    position: relative;
    top: -7px;
  }
  .blue-button{
      background-color: #5255e0;
  }
  :host /deep/ .mat-figure{
    flex-direction: column;
}