.spinner-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%!important;
}
body{
margin-top: 35px!important;
}
html{
    height: 100%!important;
}
.menu-bus-item button{
    width: 33%;
    font-family: 'Kalam'!important;
}
.menu-bus-item{
    position: fixed;
    top: 0px;
    z-index: 1300;
    height: 35px
}